<div class="container p-2 my-2 bg-info text-white">
    <h5 style="text-align: center;">
        Coding Section
    </h5>
    <div style="text-align:left;">
    Name : {{student.name}} <br>
    Email : {{student.emailId}}<br>
    CollegeName : {{student.collegeName}}
    </div>

    <div style="text-align:right;">
    <countdown  [config]="{leftTime : 1200}" (event)="onTimerFinished($event)"></countdown>
    </div>

</div>

<div class="container p-3 my-3 border">
    
    <ul style="list-style-type:none;">
        <li *ngFor="let i of codQuestions;index as k">
           {{k+1}}. {{i.question}}
        <ul>
             <li style="list-style-type:none;"><label ><input [name]="k" type="radio" [value]="i.option1" [(ngModel)]="ans[k]"> 
                  {{i.option1}}</label> </li>
             <li style="list-style-type:none;"><label ><input [name]="k" type="radio" [value]="i.option2" [(ngModel)]="ans[k]"> 
                  {{i.option2}}</label> </li>
             <li style="list-style-type:none;"><label ><input [name]="k" type="radio" [value]="i.option3" [(ngModel)]="ans[k]"> 
                  {{i.option3}}</label> </li>
             <li style="list-style-type:none;"><label ><input [name]="k" type="radio" [value]="i.option4" [(ngModel)]="ans[k]"> 
                  {{i.option4}}</label> </li>
         </ul>   
        </li>
    </ul>
    <div class="text-center"> 
    <button class="btn btn-primary" (click)="move()">Submit </button>
    </div>

</div>

<div *ngIf="check">
    <ul>
        <li *ngFor="let p of ans">{{p}}</li>
    </ul>
</div>