.admin-page{
    display: flex;
    height: 100%;
    justify-content: center;
    background-image: url('../../assets/registration_page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}