<div class="container">
    <h1 style="color:red;">   
      Online Test  
    </h1>         
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th>Section </th>
          <th>Questions </th>
          <th>Duration</th>
          <th>Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>Aptitude</td>
          <td>10 questions</td>
          <td>15 mins</td>
          
          <td>
          <button type="button" class="btn btn-primary" [disabled]="disableAptBtn" (click)="goToAptitude()">Start</button>&nbsp;&nbsp;
          
          </td>
        </tr>
        <tr >
          <td>Coding</td>
          <td>10 questions</td>
          <td>20 mins</td>
          
          <td>
          <button type="button" class="btn btn-primary" [disabled]="disableCodBtn" (click)="goToCoding()">Start</button>&nbsp;&nbsp;
          
          </td>
        </tr>
        
      </tbody>
    </table>
  
  </div>